<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>948635781738-6mu0usskqcbuk28381a8l0don8v3fbqm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.948635781738-6mu0usskqcbuk28381a8l0don8v3fbqm</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>948635781738-o2b8p7k32tueelp2chd5dcefqe099ach.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB4JRnCN8LmFvy8EY2dcWRxdqOqMlWnxoA</string>
	<key>GCM_SENDER_ID</key>
	<string>948635781738</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.docManager</string>
	<key>PROJECT_ID</key>
	<string>docmanager-4cedb</string>
	<key>STORAGE_BUCKET</key>
	<string>docmanager-4cedb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:948635781738:ios:eee455a13e0e1e4af15813</string>
</dict>
</plist>